<h2><%= t('.track_my_order') %></h2>
<p><%= t('.tracking_the_status_is_easy') %></p>
<%= form_for @tracker do |f| %>
  <div class="row">
    <div class="span3">
      <%= f.label :number, t(:order_number) %>
      <%= f.text_field :number, :size => 5 %>
    </div>
    <div class="span5">
      <%= f.label :email %>
      <%= f.text_field :email, :size => 5 %>
    </div>
    <div class="span4">
      <%= f.submit t('spree_order_tracker.track_your_order') %>
    </div>
  </div>
<% end -%>
